html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    display: none !important;
}

#flashMessage {
    display: flex;
    position: absolute;
    width: 40vw;
    height: 10vh;
    border-radius: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    z-index: 9999;
}

#success {
  background-color: #06451c;
}

#danger {
    background-color: #450606;    
}

body {
    background-image: url(../img/henry-be--Pg63JThyCg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    align-items: center;
    padding-top: 70px;
    background-color: #cdeecd;
}

main {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 65px;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff98;
    height: 100%;
}

header {
    background-color: #0b853688;
    height: 70px;
    box-shadow: 0 0 10px 2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#navBar {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
    top: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
}
  
nav li {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    background-color: transparent;
    color: #ffffff;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
    text-decoration: none;
}
  
nav a:hover {
    background-color: #032b11b9;
}

#frontPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffb9;
}

#loginPage, #createUserPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}

#loginForm, #createForm {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginInputs, #createInputs {
    display: flex;
    flex-direction: column;
}

#loginInputs input, #createInputs input {
    height: 1.5rem;
    margin: 5px;
}

.btn {
    margin: 10px;
    width: max-content;
    height: 30px;
    background-color: #086729;
    color: white;
}

.btn:hover {
   background-color: #06451c;
}

.footer p {
    margin: 0;
    padding: 0;
}

.footer a {
    color: #76ffa6;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #06451c;
    display: flex;
    justify-content: center;
    align-items: center;
}