<header>
  <nav id="navBar">
    <ul>
      <li><a class="nav-link" href="./">Home</a></li>
      <% if (!locals.user) { %>
        <li><a class="nav-link" href="./user/login">Login</a></li>
        <li><a class="nav-link" href="./user/create">Signup</a></li>
      <% } %>
      <% if (locals.user) { %>
        <li><a class="nav-link" href="./books/browse">Browse</a></li>
        <li><a class="nav-link" href="./books/search">Search</a></li>
        <li><a class="nav-link" href="./books/checkout">Checkout</a></li>
        <li><a class="nav-link" href="./user/logout">Logout</a></li>
      <% } %>
    </ul>
  </nav>
</header>
  