<div id="loginPage">
  <form id="loginForm" method="POST" autocomplete="off" action="./user/login">
    <div id="loginInputs">
      <input autocomplete="off" type="text" class="formControl" id="emailInput" name="email" placeholder="Enter email" required>
      <input autocomplete="off" type="password" class="formControl" id="passwordInput" name="password" placeholder="Enter password" required>
    </div>
    <button type="submit" class="btn">Login</button>
  </form>
</div>