<div id="loginPage">
  <form id="loginForm" method="POST" autocomplete="off" action="./user/login">
    <div id="loginInputs">
      <input autocomplete="off" type="text" class="formControl" id="usernameInput" name="username" placeholder="Enter username" required>
      <input autocomplete="off" type="text" class="formControl" id="passwordInput" name="password" placeholder="Enter password" required>
    </div>
    <button class="btn">Login</button>
  </form>
</div>