<div id="frontPage">
  <div class="mainContent">
    <p>HELLO WORLD TEST</p>
  </div>
  
  <div class="container">
    <a href="./account/login" class="enter-button">Login</a>
    <a href="./account/create" class="enter-button">Create account</a>
  </div>
</div>