<div id="frontPage">
  <div class="mainContent">
    <p>HELLO WORLD TEST</p>
  </div>
  
  <div class="container">
    <a href="./user/profile">Profile</a>
    <a href="./user/login">Login</a>
    <a href="./user/create">Create account</a>
  </div>
</div>